Package: io.hanyfu.minivan50
Name: Minivan 50 Zepplin logo
Version: 1.0
Architecture: iphoneos-arm
Description: Maldives 50th independence day logo for zeppelin
Depiction: http://hanyfu.github.io/depictions/?p=io.hanyfu.minivan50
Homepage: http://www.hanyfu.info
Maintainer: Mohamed Haneef <hanyfu@hotmail.com>
Author: Mohamed Haneef <hanyfu@hotmail.com>
Section: Addons (Zeppelin)
