Package: io.hanyfu.Nunito
Name: Nunito TM Font
Version: 1.0
Architecture: iphoneos-arm
Description: BytaFont Tweakmode font
Depiction: http://hanyfu.github.io/depictions/?p=io.hanyfu.Nunito
Homepage: http://www.hanyfu.info
Maintainer: Mohamed Haneef <hanyfu@hotmail.com>
Author: Mohamed Haneef <hanyfu@hotmail.com>
Section: Fonts
